* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times,Arial, sans-serif;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
}

/* utility classes */
.container {
  max-width: 1100px;
  margin: auto;
}

.text-primary {
  color: #3693ff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

/* navbar */
#nav-bar {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: #fff;
  padding: 1rem 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 2.5px solid #3693ff;
  text-transform: uppercase;
}

#nav-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#nav-bar h2 a {
  color: #fff;
  text-decoration: none;
}

#nav-bar li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#nav-bar li a:hover {
  background-color: #3693ff;
}

/*showcase area  */
#showcase {
  background: url(bg-img.jpg) no-repeat center center/cover;
  height: 100vh;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -70px;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: #fff;
}

.showcase-content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.showcase-content .btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  transition: color 0.4s, background 0.4s;
}

.showcase-content .btn:hover {
  background: linear-gradient(
    45deg,
    #06dee1,
    #3693ff
    );
    color: white;
    border-radius: 5px;
}

.btn {
  color: #3693ff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #3693ff;
  border-radius: 10px;
  font-weight: bold;
}
/* section: about */
#about {
  padding: 5rem 0;
}

#about h2, #info h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

#about h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;

}
#about p.lead {
  margin-bottom: 1rem;
  font-size: 21.5px;
}

#about .about-content {
  display: flex;
}

#about .about-text,
#about .about-image {
  flex: 1;
}

#about .about-text {
  text-align: justify;
  padding-bottom: -50px;
}

#about .about-image img {
  display: block;
  height: 350px;
  border-radius: 10px;
}

/* AdditionalInfo */
 #info {
   padding: 8rem 0;
   text-align: center;
 }

 #info h3 {
   text-align: center;
   margin-bottom: 2rem;
   font-size: 1.8rem;
   padding-top: 10px;
 }

 #info .boxes {
   display: flex;
 }

 #info .box {
   background: #fff;
   flex: 1;
   padding: ;
   margin: 0 3rem;
   border-radius: 10px;
   box-shadow: 2px 2px 2px 2px #3693ff;
   font-size: 1.3rem;
 }

 #info .box i {
   color: #fff;
   padding: 0.2rem;
   background: #3693ff;
   border-radius: 50%;
   margin: 0 0.5rem;
   margin-bottom: 2rem;
 }

 /* Section: Contact */
 #contact {
   padding: 5rem 0;
   background: #d1e0e0;
 }

 #contact h2 {
   text-align: center;
   font-size: 3rem;
   margin-bottom: 8rem;
 }

 #contact h3 {
   text-align: center;
   font-size: 2.5rem;
   margin: 3rem 0;
   margin-top: 5rem;
 }

 #contact .form-box {
   background: #fff;
   padding: 3rem;
   box-shadow: 2px 2px 5px #d1d1d1;
   border-radius: 10px;
 }

 #contact .form-group {
   margin-bottom: 2rem;
 }

 #contact .form-group label {
   display: block;
   margin-bottom: 0.5rem;
   width: 80%;
   margin-left: 10%;
   font-size: 1.1rem;
 }

#contact .form-group input,
#contact .form-group textarea {
  width: 80%;
  margin-left: 10%;
  font-size: 1.3rem;
  padding: 1rem;
  border: 0.5px solid #333;
  border-radius: 5px;
}

#contact .form-group textarea {
  font-family: Arial, sans-serif;
}

#contact .contact-btn {
  width: 80%;
  margin-left: 10%;
  display: inline-block;
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background: #3693ff;
  color: white;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: background 0.3s;
}

#contact .contact-btn:hover {
  background: linear-gradient(
    45deg,
    #06dee1,
    #3693ff
    );
}

#contact .form-container {
  position: relative;
}

#contact .mail-icon {
  font-size: 3rem;
  background: #3693ff;
  color: #fff;
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 50%;
  position: absolute;
  top: -7%;
  left: 45%;
}
/* Footer */
footer {
  padding: 2.5rem;
}

footer p {
  text-align: center;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5)
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #06dee1,
    #3693ff
    );
    border-radius: 5px;
  }

 /* media quires. Laptop */
 @media all and (max-width: 1240px) {
   .showcase-content {
    bottom: -70px;
   }

   #about {
      padding: 2.5rem 0;
   }

   #about h2 {
     margin-top: 5rem;
      margin-bottom: -1.5rem;
   }

   #about h3 {
     font-size: 2.5rem;
     margin-bottom: 1rem;
     margin-right: 1rem;
   }

   #about p.lead {
     margin: 2rem;
     margin-left: -3.3rem;
     font-size: 28px;
   }

   #about .about-image img {
     margin-top: 10rem;
     margin-left: 2rem;
   }

   #info .box {
     margin: 18px;
   }

   #contact h2 {
     margin-top: 3rem;
   }
 }

/* Tablet */
 @media all and (max-width: 768px) {
   .showcase-content {
    bottom: -100px;
   }

   #about .about-image img {
     margin-top: 15rem;
     margin-left: 1rem;
   }
 }

/* Mobile */
@media all and (min-width: 320px) and (max-width: 425px) {
  .showcase-content {
   bottom: -1px;
  }

  #nav-bar {
    display: none;
  }

  #about h2, #info h2 {
  margin: 0rem 0rem;
  }

  #about h3 {
    margin: 0rem 1rem;
    margin-bottom: 1.5rem;
  }

  #about .about-image {
    display: none;
  }

  #about p.lead {
    margin: 1rem 1rem;
    font-size: 22px;
  }

  #info, #contact {
    padding: 0.5rem;
  }

  #info .box {
    margin: 2rem;
  }
  
  #info .boxes {
    flex-wrap: wrap;
  }

  #contact .mail-icon {
    left: 32.5%;
  }

  #contact .contact-btn {
    padding: 1rem 1rem;
    font-size: 1.3rem;
  }
}
